In [48]:
import pandas as pd
import matplotlib.pyplot as plt

In [49]:
heart = pd.read_csv('/Users/dhruvkumar/Desktop/heart.csv')

In [50]:
heart.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [51]:
heart.nunique   # we have 918 entries in 12 parameters.

<bound method DataFrame.nunique of      Age Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
0     40   M           ATA        140          289          0     Normal
1     49   F           NAP        160          180          0     Normal
2     37   M           ATA        130          283          0         ST
3     48   F           ASY        138          214          0     Normal
4     54   M           NAP        150          195          0     Normal
..   ...  ..           ...        ...          ...        ...        ...
913   45   M            TA        110          264          0     Normal
914   68   M           ASY        144          193          1     Normal
915   57   M           ASY        130          131          0     Normal
916   57   F           ATA        130          236          0        LVH
917   38   M           NAP        138          175          0     Normal

     MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease
0      172              N      0.0       Up             0
1      156              N      1.0     Flat             1
2       98              N      0.0       Up             0
3      108              Y      1.5     Flat             1
4      122              N      0.0       Up             0
..     ...            ...      ...      ...           ...
913    132              N      1.2     Flat             1
914    141              N      3.4     Flat             1
915    115              Y      1.2     Flat             1
916    174              N      0.0     Flat             1
917    173              N      0.0       Up             0

[918 rows x 12 columns]>

In [52]:
heart.isna().sum() # our data is clean and free from NAN values.

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [53]:
# Let's get everything in numerical sence
fdf = pd.get_dummies(heart, drop_first=True)

In [54]:
fdf.head()  # we are all set now.

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,0,172,0.0,0,1,1,0,0,1,0,0,0,1
1,49,160,180,0,156,1.0,1,0,0,1,0,1,0,0,1,0
2,37,130,283,0,98,0.0,0,1,1,0,0,0,1,0,0,1
3,48,138,214,0,108,1.5,1,0,0,0,0,1,0,1,1,0
4,54,150,195,0,122,0.0,0,1,0,1,0,1,0,0,0,1

In [55]:
fdf = fdf.drop('HeartDisease',axis=1)
y = heart.HeartDisease  # target

In [56]:
from sklearn.model_selection import train_test_split
X_train, X_test , y_train, y_test = train_test_split(fdf,y,test_size=0.2)

# Linear Regression

In [57]:
# Let's Now import our model
from sklearn.linear_model import LinearRegression
Lmodel = LinearRegression()

In [58]:
Lmodel.fit(X_train,y_train)

LinearRegression()

In [59]:
Lmodel.score(X_test,y_test)

0.5254520203568616

In [60]:
# we are scaling the elements values to get better results.
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(fdf)
X_scaled

array([[-1.4331398 ,  0.41090889,  0.82507026, ..., -0.8235563 ,
        -1.00218103,  1.15067399],
       [-0.47848359,  1.49175234, -0.17196105, ..., -0.8235563 ,
         0.99782372, -0.86905588],
       [-1.75135854, -0.12951283,  0.7701878 , ..., -0.8235563 ,
        -1.00218103,  1.15067399],
       ...,
       [ 0.37009972, -0.12951283, -0.62016778, ...,  1.21424608,
         0.99782372, -0.86905588],
       [ 0.37009972, -0.12951283,  0.34027522, ..., -0.8235563 ,
         0.99782372, -0.86905588],
       [-1.64528563,  0.30282455, -0.21769643, ..., -0.8235563 ,
        -1.00218103,  1.15067399]])

# Random Forest Classifier

In [61]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier()
model_rf.fit(X_train, y_train)
model_rf.score(X_test, y_test)

0.8695652173913043

# PCA

In [62]:
# we are going on with 95% of data. this will save our time for computataion but it will reduce the accuracy.
from sklearn.decomposition import PCA

pca = PCA(0.95)
X_pca = pca.fit_transform(fdf)
X_pca

array([[ 92.31131546, -29.44565085],
       [-17.14366463, -13.73602879],
       [ 81.90671738,  38.22351056],
       ...,
       [-69.00377342,  17.33460169],
       [ 39.20676111, -33.59195039],
       [-21.4375636 , -37.21660999]])

In [63]:
X_train_pca, X_test_pca, y_train, y_test = train_test_split(X_pca, y, test_size=0.3)

In [64]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier()
model_rf.fit(X_train_pca, y_train)
model_rf.score(X_test_pca, y_test)

0.6847826086956522

# cross Validation

In [65]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier

scores = cross_val_score(DecisionTreeClassifier(), fdf, y, cv=5)
scores

array([0.76086957, 0.70108696, 0.7826087 , 0.66120219, 0.67213115])

In [66]:
scores.mean()

0.7155797101449275

In [67]:
# Again using Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier

In [68]:
scores = cross_val_score(RandomForestClassifier(), fdf, y, cv=5)
scores
scores.mean()

0.822368733665954

# BaggingClassifier  (special for PCA)

In [69]:
from sklearn.ensemble import BaggingClassifier

In [70]:
scores = cross_val_score(BaggingClassifier(), fdf, y, cv=5)
scores
scores.mean()

0.7896650035637919