In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [23]:
df = pd.read_csv('/Users/dhruvkumar/Desktop/spam.csv')

In [24]:
df.head()  # we have to seperate out ham and spam

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [25]:
df.groupby('Category').describe()   # we have some good numbers of spam mails

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [26]:
# now, we will convert spam and ham into numerical elements so that ML model can understand it
df['spam'] = df['Category'].apply(lambda x: 1 if x=='spam' else 0 )
# spam,ham = 1,0

In [27]:
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [28]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.Message,df.spam,test_size= 0.3)

# CountVectorizer ---> MultinomialNB (Method1)

In [29]:
# before importing  model we have to vactarize the message column 
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)

In [30]:
# Now, we are ready to import our model
from sklearn.naive_bayes import MultinomialNB
Mmodel = MultinomialNB()

In [31]:
Mmodel.fit(X_train_count,y_train)

MultinomialNB()

In [32]:
emails = [
    'Hey Dhruv, can we get together to watch cricket game next week?',
    'Upto 30% discount on parking, exclusive offer just for you. Dont miss this reward!',
    'Hi i am from Boat company you should check out our product it is on sale and heavy discount of 50%',
    'Upto 90% discount on parking, exclusive offer just for you. Dont miss this reward!',
    'Free entry in 2 a wkly comp to win IPL final'
]
emails_count = v.transform(emails)
Mmodel.predict(emails_count)

array([0, 1, 0, 1, 1])

In [33]:
X_test_count = v.transform(X_test)
Mmodel.score(X_test_count, y_test)

0.9880382775119617

# Sklearn Pipeline  (Method 2)

In [34]:
# we can simplify the above code by simping using the sklearn pipeline in-build library.
from sklearn.pipeline import Pipeline

In [35]:
# bro pipelines are BEST........
fm = Pipeline([
    ('vectrization', CountVectorizer()),
    ('Mmodel',MultinomialNB())
])

In [36]:
fm.fit(X_train,y_train)  # fm = final model

Pipeline(steps=[('vectrization', CountVectorizer()),
                ('Mmodel', MultinomialNB())])

In [37]:
fm.score(X_test,y_test)

0.9880382775119617

In [38]:
fm.predict(emails)

array([0, 1, 0, 1, 1])